* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.nav-bar {
  position: relative;
  background-color: black;
  width: 90%;
  margin: auto;
  height: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  color: #fff;
  font-size: 5rem;
  padding: 0 15px;
  margin: 0 10px;
}

.menubar {
  padding: 10px;
  background: none;
  color: #fff;
  border: none;
  font-size: 4vw;
  order: 1;
  display: none;
}
.nav-left {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.nav-right {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.menu-item {
 position:relative;
  padding:10px;
  text-align: center;
  font-size: 1.25vw;
  
  background: none;
  color:#fff;
  border: none;
  border-radius: 50%;
  
}
.menubar {
  
  transition: 0.6s;
}

.menu-item:hover {background-color: ;

}
.submenu {
  width:400px;
  z-index:100;
  list-style: none;
  position: absolute;
  background-color: #c2bdbd;
  display: none;
  top: 75px;
  left:-150px;
  padding:10px 0 10px 0
}
.submenu a {
  opacity: 0.8; 
  color:black; 
}
.submenu li{
  margin:10px;
  padding:5px;
}
.submenu.sub2 {
  flex-direction: column;
  left:-10;
}
.submenu.sub3 {
  flex-direction: column;

}
.submenu.sub4 {
  flex-direction: column;
  left:-266px
}

#company,
#language,
#login,
#signup,
#menubar {
  display: none;
}



#company:checked ~ .submenu {
  color: bisque;
  display: flex;
  flex-direction: column;
}

#language:checked ~ .submenu.sub2 {
  display:flex;
  
}
#login:checked ~ .submenu.sub3 {
  display: flex;
}
#signup:checked ~ .submenu.sub4 {
  display: flex;
}
@media (max-width: 1137px) {
  
    
  
   .nav-left,
  .nav-right {
    width:100%;
    left:0px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: 1px black solid;

  }
  .menu-item {
    color: black;
    font-size: 42px;
  }
  .menubar {
    display: inline-block;
    position: relative;
    order: 1;
  }
  .submenu {
    position: relative;
  }

  #menubar:checked ~ .nav-left {
    display: flex;
    position: absolute;
    top: 100px;
    align-items: space-between;
  }
  #menubar:checked ~ .nav-right {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 400px;
    align-items: space-between;
  }
  
  
}
.nav2 h1,ul,li,a {
  color:black;
}
